<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
name="pioneer3at">

<xacro:include filename="$(find hector_sensors_description)/urdf/hokuyo_utm30lx.urdf.xacro"/>
<xacro:include filename="$(find robots_roboticamovel_2018_2)/robots/pioneer3at_body.xacro"/>

<xacro:p3at_front suffix="left" reflect="1"/>
<xacro:p3at_front suffix="right" reflect="-1"/>
<xacro:p3at_back suffix="left" reflect="1"/>
<xacro:p3at_back suffix="right" reflect="-1"/>
<xacro:p3at_gazebo_ext/>

<hokuyo_utm30lx_model name="base_laser_link" parent="base_link">
	<origin xyz="0 0 +0.32" rpy="0 0 0" />
</hokuyo_utm30lx_model>


</robot>
